<html>

<head>
    <title>Project Detail</title>
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light mb-5">
        <div class="container-xl">
            <a class="navbar-brand" href="/">
                <img src="/public/assets/logo-dumbways.png" alt="logo" style="width:49px; height:33px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fw-bold" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" aria-current="page" href="/add-project">Add Project</a>
                    </li>
                </ul>
                <a class="btn text-dark py-1 rounded-3" href="/register">Register</a>
                <a class="btn text-dark py-1 rounded-3 mx-4" href="/Login">Login</a>
                <a class="btn btn-dark text-white py-1 rounded-3" href="/contact-me">Contact Me</a>
            </div>
        </div>
    </nav>

    <!-- Detail-Project-Section -->
    <div class="container-fluid">
        <h3 class="text-center my-4">{{detail.name}}</h3>
        <div class="row d-flex justify-content-center">
            <div class="col-6 d-flex justify-content-center ">
                <img src="/public/assets/coding-skill.jpg" class="rounded" style="max-width:500px;" alt="Image Project">
            </div>
            <div class="col-4">
                <p class="fw-bold">Duration</p>
                <div class="detail-duration">
                    <p class="fs-5"><i class="fa-solid fa-calendar-days me-2"></i>{{detail.start_date}} -
                        {{detail.end_date}}</p>
                    <p class="fs-5"><i class="fa-solid fa-clock me-2"></i>{{detail.duration}}</p>
                </div>
                <p>Technologies</p>
                <div class="row">
                    <div class="techno-left col-6">
                        {{#if detail.reactjs}}
                        <p class="fs-3"><i class="fa-brands fa-react pe-2"></i>ReactJs</p>
                        {{/if}}

                        {{#if detail.javascript}}
                        <p class="fs-3"><i class="fa-brands fa-js pe-3"></i>Javascript</p>
                        {{/if}}
                    </div>

                    <div class="techno-right col-6 ">
                        {{#if detail.nodejs}}
                        <p class="fs-3"><i class="fa-brands fa-node pe-2"></i>NodeJs</p>
                        {{/if}}

                        {{#if detail.java}}
                        <p class="fs-3"><i class="fa-brands fa-java pe-4"></i>Java</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Description -->
    <div class="container mt-5">
        <p>{{detail.description}}</p>
    </div>

</body>

</html>